################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StorageLayer/.vs/StorageLayer
/.vs
/StorageLayer/StorageLayer/x64/Debug
/StorageLayer/test
/StorageLayer/x64/Debug
/StorageLayer/StorageLayer.vcxproj
